
@{
    ViewBag.Title = "Pocetna stranica kupca";
}

<h2>Prikazi profil kupca</h2>

<form method="post" action="~/Kupac/PrikaziProfilKupca">
    <input type="submit" value="Pogledaj svoje podatke">
</form>

<h2>Prikazi profil kupca</h2>
