@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Home Page";
}


<form action="~/Autentifikacija/Registracija">
    <input type="submit" value="Registruj se">
</form>

<form action="~/Autentifikacija/Prijavljivanje">
    <input type="submit" value="Prijavi se">
</form>
