@model PR141_2017_WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Home Page";
}


<form method="post" action="~/Korisnik/PrikaziKorisnika">
    <input type="submit" value="Prikazi svoje podatke">
</form>

