
@{
    ViewBag.Title = "Pocetna stranica administratora";
}

<h2>Prikazi profil administratora</h2>

<form method="post" action="~/Administrator/PrikaziProfilAdministratora">
    <input type="submit" value="Pogledaj svoje podatke">
</form>
