
@{
    ViewBag.Title = "Pocetna stranica administratora";
}

<form action="~/Administrator/PrikaziProfilAdministratora">
    <input type="submit" value="Pogledaj svoje podatke">
</form>

<form action="~/Administrator/KreirajProdavca">
    <input type="submit" value="Kreiraj novog prodavca">
</form>
