@{
    ViewBag.Title = "Pocetna strana prodavca";
}

<h2>Prikazi podatke prodavca</h2>

<form method="post" action="~/Prodavac/PrikaziProfilProdavca">
    <input type="submit" value="Pogledaj svoje podatke">
</form>